{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="{% static '/main.css' %}">
    <link rel="stylesheet" href="{% static '/modal.css' %}">
    <link rel="stylesheet" href="{% static '/detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
{% include 'home/main.html' %}

{% block content %}
<div class='modal_out' onclick="remove_modal()"></div>

<div class='modal'>
    <div class='modal_head row_side col'>
        <div class="row_left">
            <p class='modal_item_name'><a href="/modal/{{ click_Product.id }}/">{{ click_Product.product_name }}</a></p>
            <div class="modal_item_star star-ratings"><div style="width : calc(15*{{ click_Product.total_value }}px)" id='item_star' class="star-ratings-fill space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div><div class="star-ratings-base space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div></div>
            <div class='modal_item_score'>{{ click_Product.total_value }}</div>
            <div class='modal_item_ratio'>긍정비율 {{ click_Product.pos_neg_rate }}%</div>
        </div>
        <div><a href = "/trend/{{click_Product.id}}/"><div class='modal_item_trend col row'><button class='trend_button'>TREND</button></div></a></div>
    </div>

    <div class='modal_item_img row'><a href="{{click_Product.product_url}}" target="_blank"><img width="600px" height="600px" src="{{ click_Product.img_src }}"></a></div>
    <div class='a3_text1'>키워드 리뷰</div>
    <div class='a3_text2'>AI를 통해 분석된 키워드, 대표리뷰입니다</div>
    <div class='a1_box row'>
        <div class='a1'>
            {% for click_product_keyword in click_Product_keyword %}
            <div class='a1_content row_left col'>
                <div class='a1_keyword'>{{ click_product_keyword.keyword }}</div>
                {% if click_product_keyword.keyword_positive <= 35 %}
                <div class='a1_bar'><div class='a1_green_bar' style="background-color: #AD2525"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ click_product_keyword.keyword_positive }}px )"></div></div></div>
                {% elif click_product_keyword.keyword_positive <= 60 %}
                <div class='a1_bar'><div class='a1_green_bar' style="background-color: #AD801D"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ click_product_keyword.keyword_positive }}px )"></div></div></div>
                {% else %}
                <div class='a1_bar'><div class='a1_green_bar' style="background-color: #45892C"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ click_product_keyword.keyword_positive }}px )"></div></div></div>
                {% endif %}
                <div class='a1_ratio'>{{ click_product_keyword.keyword_positive }}%</div>
                <div class='a1_text row_left'>{{ click_product_keyword.summarization }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

        <div class='a2 row'>
            <div class='a2_positive_box'>
                <div class='a2_positive row_left col'>긍정 리뷰</div>
                <div class='a2_text1'>전체 문장이 긍정적이라고 판단된 리뷰입니다.</div>
                <div class='a2_positive_texts'>
                    {% for morph_val,pos in pos_review %}
                    <a href="/review/{{ pos.id }}/"
                       style='text-decoration: none; color: white;'>
                    <div class='p_text_box'>
                        <div class='p_text'>
                            {% for word,value in morph_val %}
                                {% if value >= 0.7 %}
                                <h5 style="display:inline; color: #45892C">{{ word }}</h5>
                                {% elif value <= -0.7 %}
                                <h5 style="display:inline; color: #AD2525">{{ word }}</h5>
                                {% else %}
                                <h5 style="display:inline">{{ word }}</h5>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <div class="row_side">
                            <div class="row">
                                <div class="star-ratings"><div style="width : calc(15*{{ pos.score }}px)" class="star-ratings-fill space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div><div class="star-ratings-base space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div></div>
                                <div class='detail_score'>{{ pos.score }}</div>
                            </div>
                            <div class='hash row_right'>{{ pos.keywords }}</div>
                        </div>
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class='a2_negative_box'>
                <div class='a2_negative row_left col'>부정 리뷰</div>
                <div class='a2_text1'>전체 문장이 부정적이라고 판단된 리뷰입니다.</div>
                <div class='a2_negative_texts'>
                    {% for morph_val,neg in neg_review %}
                    <a href="/review/{{ neg.id }}/" style='text-decoration: none; color: white;'>
                    <div class='n_text_box' >
                        <div class='n_text'>
                            {% for word,value in morph_val %}
                            {% if value >= 0.7 %}
                            <h5 style="display:inline; color: #45892C">{{ word }}</h5>
                            {% elif value <= -0.7 %}
                            <h5 style="display:inline; color: #AD2525">{{ word }}</h5>
                            {% else %}
                            <h5 style="display:inline">{{ word }}</h5>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <div class="row_side">
                            <div class="row">
                                <div class="star-ratings"><div style="width : calc(15*{{ neg.score }}px)" class="star-ratings-fill space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div><div class="star-ratings-base space-x-2 text-lg"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div></div>
                                <div class='detail_score'>{{ neg.score }} {{ neg.xai_score }}</div>
                            </div>
                            <div class='hash row_right'>{{ neg.keywords }}</div>
                        </div>
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class='a3'>
            <div class='a3_text1'>키워드를 선택해주세요</div>
            <div class='a3_text2'>선택된 키워드를 바탕으로 상품 추천이 제공됩니다</div>

            <div class='recommend'>
                <div class='recommend_box col'>
                    <form class="form_shape" action="/home/keyrecommendation/{{ click_Product.id }}/" method="post">
                        {% csrf_token %}
                        {% for click_product_keyword in click_Product_keyword %}
                        <input type="checkbox" name="rGroup" value="{{ click_product_keyword.keyword }}"id="r{{ forloop.counter }}">
                        <label for="r{{ forloop.counter }}"class='recommend_keyword'><div class='row'>{{ click_product_keyword.keyword }}</div></label>
                        {% endfor %}
                        <div class='submit_keyword row'>
                            <input class='submit_button' type="submit" value="선택완료">
                            <input class='reset_button' type="reset" value="초기화">
                        </div>
                    </form>
                </div>
            </div>

            <div class='row'>
                <div class='recommend_img_box row'>
                    {% for model,keywords in recom_model %}
                    <a class='recommend_img' href="/modal/{{ model.id }}/"
                       style="text-decoration: none; color:black;"><p
                            class='recommend_img_title'>{{ model.product_name }}</p><img
                            src="{{ model.img_src }}" class='r_img1'
                            style='border-radius: 15px 15px 15px 15px;'>
                        <div class="preview_box row">
                            <div class="preview_text_box">
                        {% for word, rate in keywords %}
                            <div class="preview_text">{{ word }} : {{ rate }}%</div>
                            {% if rate <= 35 %}
                            <div class='a1_bar'><div class='a1_green_bar' style="background-color: #AD2525; height: 14px"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ rate }}px ); height: 14px;"></div></div></div>
                            {% elif rate <= 60 %}
                            <div class='a1_bar'><div class='a1_green_bar' style="background-color: #AD801D; height: 14px"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ rate }}px );  height: 14px;)"></div></div></div>
                            {% else %}
                            <div class='a1_bar'><div class='a1_green_bar' style="background-color: #45892C; height: 14px"><div class='a1_white_bar' style="width : calc(240px - 2.4*{{ rate }}px ); height: 14px;)"></div></div></div>
                            {% endif %}

                        {% endfor %}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
    <script src="{% static '/main.js' %}"></script>
{% endblock %}
</body>
</html>
